#start_button{
    position: absolute;
    top: 20%;
    left: 45%;
    display: none;
}

.quiz-container{
    width: 60%;
    /* display: none; */
    border: 1px solid black;
    margin-left: 20%;
    margin-top: 10%;
}

#grey-area{
    background-color: lightgrey;
    height: 40px;
    border-bottom-style: solid;
    border-width: 1px;

}

.quiz{
    padding: 10%;
    /*display: none;*/

}
.radio>label>span{
    /*background: #d3d3d3a8;*/
    padding-left: 5px;
}

.results{
    display: none;
    padding: 5%;
}
.result{
    padding-bottom: 3%;
}

#previous{
    background-color: lightgray;
    color: white;
    border: 2px solid black;
    font-weight: bold;
}

#submit{
    color: white;
    font-weight: bold;
    border: 2px solid black;
}

hr{
    background-color: black;
}


.correct-icon,.correct>.d-flex>.feedback{
    color: lime;
}
.incorrect-icon,.incorrect>.d-flex>.feedback{
    color: red;
}

.result:last-child>hr{
    display: none;
}

.correct>.d-flex>.incorrect-icon,.correct>.d-flex>.feedback>.feedback-incorrect,.correct>.d-flex>.retry{
    display: none;
}
.incorrect>.d-flex>.correct-icon,.incorrect>.d-flex>.feedback>.feedback-correct{
    display: none;
}

.retry{
    text-decoration: underline;
    cursor: pointer;
}

@media only screen and (max-width: 768px) {
    #start_button{
        left: 35%;
    }
    .quiz-container{
        width: 80%;
        margin-left: 10%;
    }
}

.quiz-title {
    font-size: 2.5rem;
}